<footer class="footer">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
    <li><a href="https://github.com/panacea-rails/panacea" target="_blank">Github</a></li>
    <li><a href="https://twitter.com/panacea_rails" target="_blank">Twitter</a></li>
  </ul>
  <p>MIT License © {{ 'now' | date: "%Y" }} <a href="https://michelada.io" target="_blank">Michelada, LLC.</a></p>
</footer>
