<header class="header">
  <a href="{{ site.baseurl }}/">
    <img alt="Logo Panacea" class="logo" src="{{site.baseurl}}/assets/img/logo_header.png">
  </a>
  <div class="header-nav-menu">
    <ul>
      <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="https://github.com/panacea-rails/panacea">Github</a></li>
    </ul>
  </div>
  <div class="header-nav-menu-mobile"></div>
</header>
<div class="menu-mobile-container">
  <div class="menu-mobile">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="https://github.com/panacea-rails/panacea">Github</a></li>
    </ul>
  </div>
</div>
