.docs-page {
  color: $black-light;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 120rem;

  h1 {
    color: $primary-dark;
    font-size: 3.8rem;
    line-height: 4.7rem;

    @media(min-width: $medium-screen) {
      font-size: 4.8rem;
      line-height: 5.7rem;
    }
  }

  h2 {
    color: $black-medium;
    font-size: 2.8rem;
    line-height: 3.3rem;

    &:before {
      display: block;
      height: 8rem;
      margin-top: -8rem;
      visibility: hidden;
      content: "";
    }

    @media(min-width: $medium-screen) {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }
  }

  h3 {
    color: $black-medium;
    font-size: 2.2rem;
    line-height: 2.8rem;

    @media(min-width: $medium-screen) {
      font-size: 2.8rem;
      line-height: 3.3rem;
    }
  }

  h4 {
    color: $black-medium;
    font-size: 1.8rem;
    line-height: 2rem;

    @media(min-width: $medium-screen) {
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
  }

  p, li {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
}

.docs-page-menu {
  border-right: 1px solid $white-purple;
  display: none;
  height: calc(100vh - 7rem);
  padding: 6rem 1.5rem 0 1.5rem;
  position: sticky;
  top: 7rem;
  width: 40%;

  a {
    color: $primary;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin: 0 0 1rem 1rem;
    text-decoration: none;
  }

  .title {
    color: $primary-dark;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 1rem 0;
  }

  @media(min-width: $medium-screen) {
    display: flex;
    flex-direction: column;
  }
}
