@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Exo");

* {
  box-sizing: border-box;
}

html {
  // So 1rem = 10px
  font-size: 10px;
}

body {
  font-family: Exo, sans-serif;
  font-size: 1.60rem;

  &.mobile-overflow {
    overflow: hidden;

    @media(min-width: $medium-screen) {
      overflow: auto;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Nanum Gothic", sans-serif;
}

code {
  background-color: $gray;
  border-radius: 1rem;
  color: $black-light;
  font-size: 1.6rem;
  margin: 1.5rem;
  padding: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 1.5rem;
}
