<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125169653-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125169653-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Panacea is a new way to generate Rails apps. It helps you to integrate the most common gems in your app so you can start the development proccess right away." />
    <meta name="keywords" content="rails template, app initializer, gem, rails app, app helper" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="Panacea, a new way to generate Rails apps" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.panacea.website/" />
    <meta property="og:image" content="{{site.baseurl}}assets/img/favicon.png" />
    <meta property="og:image:width" content="230" />
    <meta property="og:image:height" content="230" />
    <meta property="og:description" content="Panacea is a new way to generate Rails apps. It helps you to integrate the most common gems in your app so you can start the development proccess right away." />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}assets/img/favicon.png">
    <link rel="stylesheet" href="{{ "css/application.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="{{ "assets/js/main.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
  </body>
</html>
